[submodule "src_ws/src/bno055"]
	path = src_ws/src/bno055
	url = https://github.com/flynneva/bno055.git
[submodule "src_ws/src/rplidar_ros2"]
	path = src_ws/src/rplidar_ros2
	url = https://github.com/babakhani/rplidar_ros2.git
