<?xml version="1.0"?>
<model>
  <name>Flat Competition Course</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Orion Brown</name>
    <email>orionbrown@ucf.edu</email>
  </author>
  <description>
    The flat competition course of the 2024 IEEE Student Southeast Conference
  </description>
</model>
