<?xml version="1.0"?>
<model>
  <name>Competition Course</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Aden McKinney</name>
    <email>aden.mckinney@ucf.edu</email>
  </author>
  <description>
    The competition course of the 2024 IEEE Student Southeast Conference
  </description>
</model>
